/* SECTION PRINCIPAL =================================================== */
header {
    /* estilo do header */
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--laranja-claro);
    padding: 12px 80px;
    box-shadow: 3px 1.4px 5px 4px #ccc;
    transition: all .45s ease;
}

.header2 {
    /* configuracoes quando o usuario clica no menu hamburguer */
    transition: all .45s ease;
}

.logo {
    /* configuracoes da logo */
    width: 6.5rem;
    height: auto;
}

.navlist {
    /* configura os links do header */
    display: flex;
}

#menu-icon {
    /* estilo do menu hamburguer (icone) */
    font-size: 3rem;
    color: #000;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.navlist a {
    font-weight: 400;
    display: inline-block;
    padding: 0.2rem;
    position: relative;
    font-size: 1rem;
    color: #fff;
    margin: 0 25px;
    text-decoration: none;
    transition: all .45s ease;
}

.navlist a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navlist a:hover:after {
    width: 100%;
    left: 0;
}