* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cor-texto: #263138;
    --laranja-claro: #FF9A6C;
    --laranja-escuro: #FF725E;
    --fundo: #FF986C40;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 5rem 120px 128px 100px;
    position: relative;
}

@media (max-width: 1000px) {
    #inicio {
        flex-wrap: wrap;
    }
}

h1, h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 2rem;
}

.botao {
    border-radius: 4px;
    background-color: var(--laranja-claro);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.45s ease;
    text-decoration: none;
}

.botao:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.botao:hover {
    padding-right: 24px;
    padding-left: 8px;
}

.botao:hover:after {
    opacity: 1;
    right: 10px;
}

.botao__transparente {
    background-color: transparent;
    color: var(--laranja-escuro);
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 1.5rem 2rem;
}

.botao__transparente:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 1.3rem;
    bottom: 0;
    left: 0;
    background-color: var(--laranja-escuro);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.botao__transparente:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-content: center;
    gap: 4rem;
    padding: 4rem 80px;
}

@media (max-width: 1000px) {
    #clinica {
        flex-wrap: wrap;
    }
}

#clinica li {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

#farmacia {
    padding: 4rem 80px;
    text-align: center;
}

#farmacia img {
    margin: 4rem auto;
}

#farmacia .paragrafo {
    margin: 0 auto;
    max-width: 950px;
    text-align: left;
}

#duvidas {
    display: flex;
    align-content: center;
    gap: 4rem;
    padding: 4rem 80px;
}

@media (max-width: 1000px) {
    #duvidas {
        flex-wrap: wrap;
    }
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid var(--laranja-claro);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 24px;
    line-height: 1.5;
}

.duvida img {
    position: absolute;
    top: 2rem;
    right: 24px;
    width: 2rem;
}

.duvida .paragrafo {
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid var(--laranja-escuro);
    border-left: 1px solid var(--laranja-escuro);
    border-right: 1px solid var(--laranja-escuro);
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in;
}

.duvida.ativa .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

footer {
    background-color: var(--fundo);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    padding: 4rem 80px;
}

footer img, footer .titulo {
    font-weight: 600;
    margin-bottom: 2rem;
    display: block;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

footer nav a:hover {
    transition: all .45s ease;
    transform: translateX(0.9rem);
}

footer p {
    margin-bottom: 1rem;
    max-width: 350px;
    line-height: 1.5;
}

.p__footer:hover {
    transition: all .45s ease;
    transform: translateX(0.9rem);
}

footer p a {
    color: #263138;
    text-decoration: none;
}

#copyright {
    background-color: var(--cor-texto);
    text-align: center;
    padding: 1.5rem;
    color: #FFF;
}

#copyright a {
    display: inline-block;
    position: relative;
    color: var(--laranja-claro);
    text-decoration: none;
}

#copyright a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: var(--laranja-claro);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#copyright a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


