@import url(index.css);

@media (max-width: 1000px) {
    .img__responsiva {
        display: none;
        transition: all .45s ease;
    }

    footer {
        flex-wrap: wrap;
        padding: 5rem 120px;
        transition: all .45s ease;
        gap: 60px;
    }

    .titulo {
        font-size: 1.2rem;
        transition: all .45s ease;
    }

    footer img {
        margin: 0 auto;
        padding-bottom: 2rem;
        transition: all .45s ease;
    }
}

@media (max-width: 715px) {
    .botao__transparente {
        margin: 0;
        padding-top: 1.2rem;
        transition: all .45s ease;
    }

    #inicio__div-botoes {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all .45s ease;
    }
}

@media (max-width: 840px) {

    /* tela até 840px */
    #menu-icon {
        /* estilo do menu hamburguer */
        /* sai do display none e mostra o menu */
        display: block;
    }

    .navlist {
        /* estilo da navlist - links header */
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--laranja-claro);
        text-align: center;
        transition: all .45s ease;
    }

    .navlist a {
        /* estilo dos links da navlist */
        display: inline-block;
        justify-content: center;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: #fff;
    }

    .navlist a:active {
        /* links da navlist quando ativados */
        color: var(--text-color);
    }

    .navlist.open {
        /* links da navlist quando abertos*/
        top: 100%;
    }
}

@media (max-width: 510px) {
    .logo {
        width: 100px !important;
        height: auto !important;
    }

    header {
        padding: 1rem !important;
    }

    #menu-icon {
        margin-right: 1rem;
        font-size: 2.5rem;
    }
}